.game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
}

.popup {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    color: black;
    top: 5vh;
    left: 5vw;
    width: 60vw;
    height: 30vh;
    font-size: 800%;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: 5px solid #000000;
}



.text{
    transform: translate(-50%, -50%);
}

body{
    padding: 0;
    margin: 0;
    background-color: #8542b5;
    font-family: Arial, sans-serif;  
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1f7f0;  
    width: 28vw;
    height: 23vh;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    margin-left: 2.4vh;
    margin-right: 2.4vh;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    padding: 10px;
    text-align: center;
}


.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e1f7;
    width: 33vw;
    height: 23vh;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    margin-left: 2.4vh;
    margin-right: 2.4vh;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    padding: 10px;
    text-align: center;
}


.player:first-of-type{
    margin-left: 0vh;
}

/*.quiz_section{
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}
*/

.stairMenu {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;  
    height: 20%; 
    left: 35%;  
    top: 42%;
    background-color: #ffffff;
    color: #333;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    transform: translateX(-50%); 
    border: 5px solid #000000;
}

.stairMenuSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    font-size: 60px; 
    outline-offset: -1px;
}

.stairMenuSection:nth-child(2n) {
    border-right: none;
}

.stairMenuSection:nth-child(n+3) {
    border-bottom: none;
}


.quiz_section {
    display: flex;               
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    font-size: 1px;
    outline: 1px solid black;
    outline-offset: -1px; /* żeby linie nachodziły na siebie */
}

.quiz_section:nth-child(2n) {
    border-right: none;
}
  
/* usuń dolne krawędzie z ostatniego rzędu */
.quiz_section:nth-child(n+3) {
    border-bottom: none;
}

.dialog{
    width: 100%;
    height: 100%;
}

.dialog_text{
    position: absolute;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 30%;
    left: 19%;
    top: 1%;
    overflow: hidden;
    background-image: url("images/pobrane.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 center;
    image-rendering: pixelated;
}

.dialog_responses{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: 1fr 1fr; /* Two equal rows */
    width: 50%;
    height: 30%;
    left: 19%;
    background-color: blueviolet;
    top: 39%;
}

.dialog_img{
    position: absolute;
    width: 30vh;
    height: 40vh;
    top: 29%;
    left: 0.5%;
    background-color: aquamarine;
}

.arrow{
    background-image: url("images/strzalka.png");
    background-size: 190px 190px;
    background-position: center;
    width: 96px;
    height: 96px;
}


img, #room{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.player0{
    background-image: url("./cube.png");
    width: 75px;
    height: 75px;
}

.room0{
    background-image: url("./rooms/pokoj.png");
}