body {
    background-color: #8542b5;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: #a650f6;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #c38ff8;
}

#creators-modal {
    width: 150px;
    height: 220px;
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

#character-select{
    visibility: hidden;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    font-size: 16px;
}

#character-select h2 {
    margin-bottom: 20px;
}

#character-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.character-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e7ff;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #a650f6;
}

.character-slot select {
    padding: 10px;
    background-color: #e8d7ff;
    border: 1px solid #a650f6;
    border-radius: 8px;
    font-size: 16px;
}

button#addCharacter{
    background-color: #a650f6;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button#addCharacter:hover {
    background-color: #c38ff8;
}

button#addCharacter:disabled {
    background-color: #d3b0f7;
    cursor: not-allowed;
}
button#startGame{
    background-color: #a650f6;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}