#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: #a650f6;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #c38ff8;
}

#creators-modal {
    font-size: 30px;
    width: 300px;
    height: 400px;
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

