.game{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 70vw;
    height: 70vh;
}

.dialog{
    width: 100%;
    height: 100%;
}

.dialog_text{
    position: absolute;
    width: 50vw;
    height: 30vh;
    left: 20vw;
    background-color: blueviolet;
}

.dialog_responses{
    position: relative;
    width: 40vw;
    height: 30vh;
    top: 30vh;
    background-color: aquamarine;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}